<br>
<br>
<%=form_for(:persona,:url=>{:action=>:create}) do |f|%>
	<div class="panel panel-default">
		<div class="panel-heading paneltitle">
			Datos Estudiante
		</div>
		<div class="panel-body">
		<div class="row">

			<div class="col-md-10">

				<br>
				<br>
				<div class="row">
					
						<div class="col-md-4">
						<p style=" width: 150px;" class="stylep">Nº Carnet:</p>

						<%=f.text_field(:NumCarnet,id:"NumCarnet",class:"form-control")%>
						<!--<input type="text" name="NumCarnet" class="form-control">-->
						</div>

					<div class="col-md-4">
					<p  class="stylep">Primer Nombre:</p>
					<%=f.text_field(:Primernombre,id:"Primernombre",class:"form-control")%>
					<!--<input type="text" name="Primernombre" class="form-control">-->
					</div>
					<div class="col-md-4">
					<p  class="stylep">Segundo Nombre:</p>
					<%=f.text_field(:Segundornombre,id:"Segundornombre",class:"form-control")%>
					<!--<input type="text" name="Segundornombre" class="form-control">-->
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
					<p  class="stylep">Primer Apellido:</p>
					<%=f.text_field(:Primerapellido,id:"Primerapellido",class:"form-control")%>
					<!--<input type="text" name="Primerapellido" class="form-control">-->
					</div>
					<div class="col-md-4">
					<p  class="stylep">Segundo Apellido:</p>
					<%=f.text_field(:Segundoapellido,id:"Segundoapellido",class:"form-control")%>
					<!--<input type="text" name="Segundoapellido" class="form-control">-->
					</div>
					<div class="col-md-4">
					<p  class="stylep">Edad:</p>
					<%=f.text_field(:Edad,id:"Edad",class:"form-control")%>
					<!--<input type="text" name="Edad" class="form-control">-->
					</div>
				</div>
			</div>

			<div class="col-md-2">
				<%= image_tag "adefault_user.png", :alt => "User",:class=>"PictureDefault", :title => "User"%>
				<br>
				

				<div class="fileupload fileupload-new" data-provides="fileupload">
                         <span class="btn btn-default btn-group-justified btn-sm btn-file">
                           <span class="fileupload-new"> Photo</span>
                           <span class="fileupload-exists"> Change</span>
                           <%=f.file_field(:Imag,:id=>"uploadBtn") %>
                           <!--<input id="PhotoUser" name="PhotoUser"  type="file">-->

                           </span>
                         <!--<span class="fileupload-preview margin-left"></span>
                         <a id="FileNameSelect"  href="#" class="close fileupload-exists"  data-dismiss="fileupload" style="float: none"> x</a>-->
                </div>
			</div>

		</div>

		<div class="row">

			 <div class="col-md-10">
			 <p s class="stylep">Direccion:</p>
			 <%=f.text_area(:Direccionestu,class:"form-control")%>
			 <!--<textarea type="text" name="Direccionestu" class="form-control"></textarea>-->
			 </div>

			 <div class="col-md-2">
			 <br>
				 <p class="stylep">Genero:</p>
				 <%=radio_button_tag(:Genero, "Masculino") %> Masculino
				 <br>
				 <%=radio_button_tag(:Genero, "Femenino") %> Femenino
				 <!--<%=f.text_field(:Genero,id:"Genero",class:"form-control")%>-->
				 <!--<input type="text" name="Genero" class="form-control"></input>-->
			 </div>

		</div>
		<div class="row">
			 <div class="col-md-3">
				 <p  class="stylep">Cedula:</p>
				 <%=f.text_field(:Cedula,id:"Cedula",class:"form-control")%>
				 <!--<input type="text" name="Celular" class="form-control"></input>-->
			 </div>
			 <div class="col-md-3">
				 <p class="stylep">Celular:</p>
				 <%=f.text_field(:Celular,id:"Celular",class:"form-control")%>
				 <!--<input type="text" name="Celular" class="form-control"></input>-->
			 </div>
			 <div class="col-md-3">
				 <p class="stylep">Telefono:</p>
				 <%=f.telephone_field(:Telefono,id:"Telefono",class:"form-control")%>
				 <!--<input type="text" name="Telefono" class="form-control"></input>-->
			 </div>
			 <div class="col-md-3">
				 <p class="stylep">Tipo Sanguineo:</p>
				<%=f.select(:tiposanguineo,['A+', 'A-', 'B+', 'B-', 'O+', 'O-', 'AB+', 'AB-'], {include_blank: 'Seleccione'}, { :class => 'form-control' })%>
				 <!--<input type="text" name="tiposanguineo" class="form-control"></input>-->
			 </div>
			
			 


		</div>
		<div class="row">

			 <div class="col-md-3">
				 <p class="stylep">Estado Civil:</p>
				 <%=f.select(:Estadocivil,['Solter@', 'Casad@', 'Divorciad@', 'Viud@', 'Union de hechos'], {include_blank: 'Seleccione'}, { :class => 'form-control' })%>
				 <!--<input type="text" name="Estadocivil" class="form-control"></input>-->
			 </div>
			 <div class="col-md-3">
			  <p class="stylep">Pais:</p>
			  <%=collection_select(:Pais, :id, Country.all,:id, :Pais,{},{:class=>"form-control"})%>

			  <!--<select name="" id="" class="form-control">
				  <option value="0">Seleccione</option>
			  </select>-->
			 </div>
			 <div class="col-md-3">
			  <p class="stylep">Departamento:</p>
			  <%=collection_select(:Departamento, :id, Departamento.all,:id, :Departamento,{},{:class=>"form-control"})%>

			  <!--<select name="" id="" class="form-control">
				  <option value="0">Seleccione</option>
			  </select>-->
			 </div>
			 <div class="col-md-3">
			  <p class="stylep">Municipio:</p>
			  <%=collection_select(:Municipio, :id, Municipio.all,:id, :Municipio,{},{:class=>"form-control"})%>

			  <!--<select name="" id="" class="form-control">
				  <option value="0">Seleccione</option>
			  </select>-->
			 </div>
			  <div class="col-md-3">
			 </div>

		</div>
		</div>
	</div>


	<br>
	<div class="panel panel-default">
		<div class="panel-heading">
		Procedencia
		</div>
		<div class="panel-body">
		<%= f.fields_for :estudiante do |et| %>
			<%= et.fields_for :estudio do |e| %>
				<div class="row">

					<div class="col-md-3">
						<p class="stylep">Estudio:</p>
						<%=e.text_field(:Estudio,id:"Estudio",class:"form-control")%>
						<!--<input type="text" name="Estudio" class="form-control"></input>-->
					</div>
					<div class="col-md-3">
						<p class="stylep">Año:</p>
						<%=e.text_field(:Anno,id:"Anno",class:"form-control")%>
						<!--<input type="text" name="Ano" class="form-control"></input>-->
					</div>
					<div class="col-md-3">
						<p class="stylep">Presedencia:</p>
						<%=e.text_field(:Presedencia,id:"Presedencia",class:"form-control")%>
						<!--<input type="text" name="Presedencia" class="form-control"></input>-->
					</div>
					<div class="col-md-3">
						<p class="stylep">Tipo:</p>
						<%=e.select(:tipoestudio,['Publico', 'Privado'], {include_blank: 'Seleccione'}, { :class => 'form-control' })%>
						<!--<select name="" id="" class="form-control">
							<option value="0">seleccione</option>
						</select>-->
					</div>
				</div>
			<%end%>
		<%end%>
		</div>
	</div>
		<br>
	<div class="panel panel-default">
		<div class="panel-heading">
			Lugar de Trabajo
		</div>
		<div class="panel-body">
		<%= f.fields_for :trabajo do |t| %>
			<div class="row">
				<div class="col-md-3">
					<p class="stylep">Centro de Trabajo:</p>
					<%=t.text_field(:Lugartrabajo,id:"Lugartrabajo",class:"form-control")%>
					<!--<input type="text" name="Lugartrabajo" class="form-control"></input>-->
				</div>
				<div class="col-md-3">
					<p class="stylep">Cargo:</p>
					<%=t.text_field(:Cargo,id:"Cargo",class:"form-control")%>
					<!--<input type="text" name="Cargo" class="form-control"></input>-->
				</div>
				<div class="col-md-3">
					<p class="stylep">Tiempo:</p>
					<%=t.text_field(:Tiempo,id:"Tiempo",class:"form-control")%>
					<!--<input type="text" name="Tiempo" class="form-control"></input>-->
				</div>
				<div class="col-md-3">
					<p class="stylep">Telefono:</p>
					<%=t.telephone_field(:Telefono,id:"Telefono",class:"form-control")%>
					<!--<input type="text" name="Telefono" class="form-control"></input>-->
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="stylep">Direccion:</p>
					<%=t.text_area(:Direcciontrabajo,class:"form-control")%>
					<!--<textarea type="text" name="Direcciontrabajo" class="form-control"></textarea>-->
				</div>
			</div>
		<%end%>
		</div>
	</div>	


	<br>
	<div class="panel panel-default">
		<div class="panel-heading">
		Familiar
		</div>
		<div class="panel-body">
			
			<div class="row">

				<div class="col-md-3">
				<p class="stylep">Cedula:</p>
				<%=f.text_field(:cedulatutor1,id:"cedulatutor1",class:"form-control")%>
				<!--<input type="text" name="cedulatutor1" class="form-control" placeholder="Digite la Cedula">-->
				</div>
				<div class="col-md-3">
				<p class="stylep">Nombre:</p>
				<%=f.text_field(:Nombretutor1,id:"Nombretutor1",class:"form-control")%>
				<!--<input type="text" name="Nombretutor1" class="form-control"></input>-->
				</div>
				<div class="col-md-3">
				<p class="stylep">Apellido:</p>
				<%=f.text_field(:Apellidotutor1,id:"Apellidotutor1",class:"form-control")%>
				<!--<input type="text" name="Apellidotutor1" class="form-control"></input>-->
				</div>
				<div class="col-md-2">
				<br>
				<br>
				<span data-toggle="modal" data-target="#MFamiliar"><%=icon('fa fa-pencil-square-o fa-lg')%></span>
				<span data-toggle="modal" data-target="#MBusqueda"><%=icon('fa fa-search fa-lg')%></span>
				</div>
				<div class="col-md-1">
				</div>
			</div>
			<div class="row">

				<div class="col-md-3">
				<p class="stylep">Cedula:</p>
				<%=f.text_field(:cedulatutor2,id:"cedulatutor2",class:"form-control")%>
				<!--<input type="text" name="cedulatutor2" class="form-control" placeholder="Digite la Cedula">-->
				</div>
				<div class="col-md-3">
				<p class="stylep">Nombre:</p>
				<%=f.text_field(:Nombretutor2,id:"Nombretutor2",class:"form-control")%>
				<!--<input type="text" name="Nombretutor2" class="form-control"></input>-->
				</div>
				<div class="col-md-3">
				<p class="stylep">Apellido:</p>
				<%=f.text_field(:Apellidotutor2,id:"Apellidotutor2",class:"form-control")%>
				<!--<input type="text" name="Apellidotutor2" class="form-control"></input>-->
				</div>
				<div class="col-md-2">
				<br>
				<br>
				<span data-toggle="modal" data-target="#MFamiliar"><%=icon('fa fa-pencil-square-o fa-lg')%></span>
				<span data-toggle="modal" data-target="#MBusqueda"><%=icon('fa fa-search fa-lg')%></span>
				</div>
				<div class="col-md-1">
				</div>
		    </div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading text-right">
		<div class="form-group">
			<a class="btn btn-danger">Cancelar </a>
			<%= f.submit("Guardar",:class=>"btn btn-primary") %>
		</div>
			
		</div>
	</div>
<%end%>
	<br>
	<br>

	

	<!-- Modal Formulario-->
	<div class="modal fade" id="MFamiliar" tabindex="-1" role="dialog" aria-pledby="myModalp" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-p="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalp">Registro de Tutor</h4>
	      </div>
	      <div class="modal-body">
	      <%=form_for(:estudiante,remote: true,:url=>{:action=>:create}) do |f|%>
			<div class="row">
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-4">
						<p class="stylep">Primer Nombre:</p>
						<%=f.text_field(:Primernombre,id:"Primernombre",class:"form-control")%>
						<!--<input type="text" name="Primernombre" class="form-control">-->
						</div>
						<div class="col-md-4">
						<p class="stylep">Segundo Nombre:</p>
						<%=f.text_field(:Segundornombre,id:"Segundornombre",class:"form-control")%>
						<!--<input type="text" name="Segundornombre" class="form-control">-->
						</div>
						<div class="col-md-4">
						<p class="stylep">Primer Apellido:</p>
						<%=f.text_field(:Primerapellido,id:"Primerapellido",class:"form-control")%>
						<!--<input type="text" name="Primerapellido" class="form-control">-->
						</div>
					</div>
					<div class="row">
						
						<div class="col-md-4">
						<p class="stylep">Segundo Apellido:</p>
						<%=f.text_field(:Segundoapellido,id:"Segundoapellido",class:"form-control")%>
						<!--<input type="text" name="Segundoapellido" class="form-control">-->
						</div>
						<div class="col-md-4">
						<p class="stylep">Edad:</p>
						<%=f.text_field(:Edad,id:"Edad",class:"form-control")%>
						<!--<input type="text" name="Edad" class="form-control">-->
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<%= image_tag "adefault_user.png", :alt => "User",:class=>"PictureDefault", :title => "User"%>
				</div>
			</div>
			<div class="row">
				 <div class="col-md-12">
				 <p class="stylep">Direccion:</p>
				 <%=f.text_area(:Direccionestu,class:"form-control")%>
				 <!--<textarea type="text" name="Direccionestu" class="form-control"></textarea>-->
				 </div>
			</div>
			<div class="row">
				 <div class="col-md-3">
					 <p class="stylep">Tipo Sanguineo:</p>
					 <%=f.select(:tiposanguineo,['A+', 'A-', 'B+', 'B-', 'O+', 'O-', 'AB+', 'AB-'], {include_blank: 'Seleccione'}, { :class => 'form-control' })%>
					 <!--<input type="text" name="tiposanguineo" class="form-control"></input>-->
				 </div>
				 <div class="col-md-3">
					 <p class="stylep">Estado Civil:</p>
					 <%=f.select(:Estadocivil,['Solter@', 'Casad@', 'Divorciad@', 'Viud@', 'Union de hechos'], {include_blank: 'Seleccione'}, { :class => 'form-control' })%>
					 <!--<input type="text" name="Estadocivil" class="form-control"></input>-->
				 </div>
				 <div class="col-md-3">
					 <p class="stylep">Celular:</p>
					 <%=f.text_field(:Celular,id:"Celular",class:"form-control")%>
					 <!--<input type="text" name="Celular" class="form-control"></input>-->
				 </div>
				 <div class="col-md-3">
					 <p class="stylep">Telefono:</p>
					 <%=f.telephone_field(:Telefono,id:"Telefono",class:"form-control")%>
					 <!--<input type="text" name="Telefono" class="form-control"></input>-->
				 </div>
			</div>
			<div class="row">
				 <div class="col-md-3">
					 <p class="stylep">Genero:</p>
					  <%=radio_button_tag(:Genero, "Masculino") %> Masculino <br>
				 	  <%=radio_button_tag(:Genero, "Femenino") %> Femenino
					 <!--<input type="text" name="Genero" class="form-control"></input>-->
				 </div>
				 <div class="col-md-3">
				  <p class="stylep">Municipio:</p>
				  <!--<select name="" id="" class="form-control">
					  <option value="0">Seleccione</option>
				  </select>-->
				 <%=collection_select(:Municipio, :id, Municipio.all,:id, :Municipio,{},{:class=>"form-control"})%>
				 </div>
				 <div class="col-md-3">
				 </div>
				  <div class="col-md-3">
				 </div>
			</div>
		  <%end%>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal Table -->
	<div class="modal fade" id="MBusqueda" tabindex="-1" role="dialog" aria-pledby="myModalp" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-p="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalp">Buscar Familiar</h4>
	      </div>
	      <div class="modal-body">
			<div class="">
				<table>
					<thead>
						<tr>
							<th>Codigo</th>
							<th>Parentesco</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Cedula</th>
							<th>Edad</th>
							<th>Celular</th>
							<th>Direccion</th>
							<th>Municipio</th>
						</tr>
					</thead>
					<tbody>
					<%@Persona.each do |p|%>
						<tr>
							<td><%=p.id%></td>
							<td><%=p.Padres%></td>
							<td><%=p.Primernombre%></td>
							<td><%=p.Primerapellido%></td>
							<td><%=p.Cedula%></td>
							<td><%=p.Edad%></td>
							<td><%=p.Celular%></td>
							<td><%=p.Direccion%></td>
							<td><%=p.Municipio%></td>
						</tr>
					<%end%>
					</tbody>
				</table>
			</div>
	      </div>
	      <div class="modal-footer">
	      </div>
	    </div>
	  </div>
	</div>

